@import "tailwindcss";

/* colors */
.primary {
  color: blue;
  /* bg-blue-600 */
}

.secondary {
  color: yellow;
  /* bg-amber-200 */
}

/* text color  */
.text-inherit-white {
  color: #f1f1f1;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
 -ms-overflow-style: none;/*IE Edge*/
 scrollbar-width: none; /* firefox*/
}